{%extends "inc/base.html"%}

{% load static %}

{%block content%}
<h1>Log in</h1>
<div class="alert alert-danger" role="alert" style="width: 250px; text-align: center;">
  Sorry, wrong password
</div>
<div class="mb-3 row">
  <label class="col-sm-2 col-form-label">login</label>
  <div class="col-sm-10">
    <input class="form-control">
  </div>
</div>
<div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
  <div class="col-sm-10">
    <input type="password" class="form-control" id="inputPassword">
  </div>
  <a class="btn btn-outline-success" href="#" role="button" style="margin-top:10px;">login!</a>
</div>
<a href="{% url 'signup' %}">Create new account</a>






{%endblock%}