{%extends "inc/base.html"%}

{% load static %}

{%block content%}




<div class="onequestion">
    <div class="row">
        <div class="col-2">
            <div class="avatar">
                    <img src = "{%static 'img/thumb-263853.jpg'%}" alt=""/>
            </div>
        <div class="likebox">
            <div class="row">
              <div class="col-2" style=" padding: 15px;">
              
              </div>
              <div class="col-6">
                <button></button>
                <button></button>
              </div>
            </div>
          </div>
          </div>
        <div class="col-8">
            <h2 class="question-title">{{question.title}}</h2>
            <div class="question-text">
            {{question.text}}
            </div> 
        </div>
        <div class="col-2">
          <div class="Tags">
            <h6>Tags:</h6>
            {%include 'inc/taglist.html'%}
          </div>
        
      </div>
      
    </div>
</div>
<form class="row">

  <div class="col-8">
    
    <input class="form-control" placeholder="Enter your answer">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-outline-dark">Answer</button>
  </div>
</form>
<h2>Answers</h2>




{%include 'inc/paginator.html'%}       
{%endblock%}
                
              
          
    



 